:root{
    --primary: rgb(247,250,249);
    --secondary: rgb(23, 21, 22);
    --light-purple: rgb(95, 87, 206);
    --purple: rgb(13, 4, 52);
    --orange: rgb(90, 38, 1);
    --red: rgb(67, 0, 7);
    --green: rgb(1,42,22);
    --blue: rgb(6,7,49)
}